<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script defer src="main.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <section class="container" id="root">
      <div class="carosel p-5">
        <div id="arrow-left" class="arrow-left">
          <i @click="gotoPrev"    class="bi bi-arrow-left-circle"></i>
           </div>   
        <div id="big-img" class="big-img border mb-3">
          
             <img v-for="(pic,i) in pictures" :src="pic.image" alt="pic.title" v-show="i === currentindex">
             
        
        </div>
        <div id="arrow-right" class="arrow-right">
          <i @click="gotoNext"  class="bi bi-arrow-right-circle"></i>
           </div>
        <div id="thumb" class="thumb d-flex row-cols-5">
          <img v-for="(pic,i) in pictures" :src="pic.image" alt="pic.title" :class="{'active': i === currentindex}">
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
